* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #7E7773;
}
.title {
    font-size: 4rem;
    margin-top: 3rem;
    color: #F6F0EE;
    text-align: center;
}
.cardgrid {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
    grid-template: repeat(5, 1fr);
}
.cardgrid__desc {
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    background-color: #F6F0EE;
    font-size: 3rem;
    width: 85%;
    margin: 0 auto;
}